<nav>
    <div class ="menu-bar">
        <ul>
            <li class ="active"> <a href ="#"><i class="fa fa-home">Home</i> </a> </li>
            <li><a href ="aboutUs"><i class="fa fa-user"></i>AboutUs</a></li>
            <li><a href ="ourTeam">ourTeam</a> </li>
            <!-- <li><a href ="#"><i class="fa fa-users"></i>Clients </a></li>
            <li> <a href ="#"><i class="fa fa-angellist"></i>Investeros</a></li>
            <li><a href ="#"><i class="fa fa-inr"></i>Pricing</a> </li>
            <li><a href ="#"><i class="fa fa-edit"></i>Training</a></li> -->
            <li><a href ="contactUs"><i class="fa fa-phone"></i>contactUs</a></li>
        </ul>
    </div>
</nav>
<form action="/search" enctype="multipart/form-data" method="GET">
    <div class="main">
        <input type="text" name="box" placeholder="Search Anything You Want......." >
    </div>
    <div class="btn">
        <button class="searchBtn" ><i class="fa fa-search"></i></button>
        <!-- <a href="search"><i class="fa fa-search"></i></a> -->
    </div>
</form>
