*
{
margin:0px;
padding:0px;
font-family: sans-serif;
}


.menu-bar{
background:rgb(0,100,0);
text-align:center;
}

.menu-bar ul{
display:inline-flex;
list-style:none;
color:#fff;

}

.menu-bar ul li{
width:120px;
margin:15px;
padding:15px;
}
.menu-bar ul li a{
text-decoration:none;
color:#fff;
}

.active,.menu-bar ul li:hover{
background: #2bab0d;
border-radius:3px;
}

.main{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50% , -50%);
}

input{
    border: 3px solid #32e17c;
    height: 40px;
    width: 600px;
    border-radius: 50px;
    padding: 0px 10px;
}

.btn{
    position: absolute;
    top: 15%;
    left: 68%;
    transform: translate(-50% , -50%);
}

.searchBtn{
    height:33px ;
    width: 35px ; 
    border-radius: 50px;
    background: red;
}


